*, *::before, *::after{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root{
    /* --primary-hue: 20;
    --gray-hue: 280; */

    --primary-hue: 210;
    --gray-hue: 240;
    --color-primary: hsl(var(--primary-hue), 100%, 50%);
    --color-primary-variant: hsl(var(--primary-hue), 100%, 65%);
    --color-secondary: #ffb116;
    --color-gray-100: hsl(var(--gray-hue), 47%, 94%);
    --color-gray-200: hsl(var(--gray-hue), 26%, 75%);
    --color-gray-300: hsl(var(--gray-hue), 24%, 64%);
    --color-gray-400: hsl(var(--gray-hue), 16%, 41%);
    --color-gray-500: hsl(var(--gray-hue), 44%, 25%);
    --color-gray-600: hsl(var(--gray-hue), 48%, 15%);

    --container-width-lg: 79%;
    --container-width-md: 87%;
    --container-width-sm: 90%;

    --transition: all 500ms ease;
}

html{
    scroll-behavior:smooth;
}

::-webkit-scrollbar{
    display: none;
}

/* GENERAL STYLES */
body{
    font-family: 'Montserrat', sans-serif;
    color: var(--color-gray-200);
    line-height: 1.7;
    overflow-x: hidden;
    background: var(--color-gray-500);
}

.text-light{
    color: var(--color-gray-300);
}
h1,h2,h3,h4,h5{
    line-height: 1.2;
    color: var(--color-gray-100);
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 2rem;
}

a{
    color: var(--color-primary);
}

img{
    display: block;
    object-fit: cover;
    width: 100%;
}

.btn{
    width: max-content;
    display: inline-block;
    color: var(--color-gray-100);
    padding: 0.9rem 2rem; 
    background: var(--color-primary);
    border-radius: 1.5rem;
    transition: var(--transition);
    margin: 0 auto;
}
.btn2{
    margin-left: 0.2rem;
    color: var(--color-gray-100);
    font-weight: 400;
    border: 1px solid var(--color-primary-variant);
    background: transparent;
    transition: var(--transition);
}

.btn:hover{
    background: var(--color-secondary);
    color: var(--color-gray-600);
}

.btn2:hover{
    background: var(--color-gray-100);
    color: var(--color-primary);
}
.btn .lg {
    padding: 1.2rem 3rem;
    border-radius: 2rem;
    font-size: 1.1rem;
}
.container{
    width: var(--container-width-lg);
    max-width: 1920px;
    margin: 0 auto;
}

section{
    margin-top: 8rem;
    /* height: 100vh; */
}

section > h2, section > h4{
    text-align: center;
}

section > h2{
    color: var(--color-primary);
    margin-bottom: 3rem;
}

nav{
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: block;
    padding: 0.5rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2.0rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

nav a{
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-gray-200);
    font-size: 1.1rem;
}
nav a:hover{
    background: rgba(0, 0, 0, 0.3);
}

nav a.active{
    background: var(--color-gray-600);
    color: var(--color-gray-300);
}
.nav_toggle-btn{
    display: none;
}

.nav_container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo{
    width: 5rem;
    border-radius: 40%;
    overflow: hidden;
}

.nav_links{
    display: flex;
    gap: 3.5rem;
    align-items: center;
}

.nav_links a{
    transition: var(--transition);
}

.nav_links a:hover{
    color: var(--color-secondary);
}

.active-nav{
    position: relative;
}

.active-nav::after{
    content: '';
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    background: var(--color-primary);
    position: absolute;
    left: calc(50% - 0.6rem);
    transform: rotate(45deg);
    margin-top: 0.9rem;
}

.header{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

.header_container{
    height: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
}
.header-left{
    margin-top: 5rem;
}
.header-left h5{
    margin-bottom: .8rem;
    color: var(--color-secondary);
    font-size: 400;
}

.header-left h4{
    margin: 0 0 .7rem 0 ;
}

.header-right{
    display: grid;
    place-items: center;
    position: relative;
}
.header-right img{
    height: 100%;
    
}
.header-right .header-image{
    background: linear-gradient( var(--color-primary), transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    /* left: ; */
    margin-top: 3rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}
.about_container{
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.about-me{
    width: 100%;
    /* aspect-ratio: 1/1; */
    border-radius: 2rem;
    background: linear-gradient(45deg, transparent, var(--color-primary), transparent);
    /* place-items: center; */
}

.about_me-image{
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(-3deg);
    transition: var(--transition);
}

.about_me-image:hover{
    transform: rotate(0);
}

.about_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.about_card{
    background: var(--color-gray-600);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2.2rem;
    text-align: center;
    transition: var(--transition);
}
.about_card:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;

}
.about_icon{
    color: var(--color-primary-variant);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.about_card h5{
    font-size: 0.95rem;
}

.about_card small{
    font-size: 0.7rem;
    color: var(--color-gray-300);
}
.about_content p{
    margin: 2rem 0 2.6rem;
    color: var(--color-gray-300);
}

.services_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.service{
    background: var(--color-gray-600);
    border-radius: 0 0 2rem 2rem;
    border: 1px solid var(--color-primary);
    height: fit-content;
    transition: var(--transition);
}

.service:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}
.service_head{
    background: var(--color-primary);
    padding: 2rem;
    border-radius: 0 0 2rem 2rem;
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}
.service_head h3{
    color: var(--color-gray-600);
    font-size: 1rem;
    text-align: center;
}
.service_list{
    padding: 2rem;
}
.service_list li{
    display: flex;
    gap: 1rem;
    margin-bottom: 0.8rem;
}
.service_list-icon{
    color: var(--color-primary);
    margin-top: 2px;
}
.service_list p{
    font-size: 0.9rem;
}

.experience_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.experience_container > div{
    background: var(--color-gray-600);
    padding: 4rem 6rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.experience_container > div:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.experience_container > div h3{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}
.experience_content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    /* column-gap: 2rem;
    place-items: center; */
}

.experience_details{
    display: flex;
    gap: 1rem;
}
.experience_details-icon{
    margin-top: 6px;
    color: var(--color-primary);
}


.portfolio_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    justify-content: center;
    height: 70vh;
}

.portfolio_item{
    background:  var(--color-gray-600);
    padding: 0.35rem;
    border-radius: 1.5rem;
    justify-content: center;
    border: 1px solid transparent;
    transition: var(--transition);
    place-items: center;
}
.portfolio_item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}
.portfolio_item-image{
    height: 71%;
    border-radius: 1.2rem;
    overflow: hidden;
    border: 1px solid var(--color-gray-500);
    justify-content: center;
    /* cursor: pointer; */
}
.portfolio_item-image img{
    height: 100%;
    width: 21rem;
    object-fit: fill;
}
.portfolio_item h3{
    margin: 1rem 0 1rem;
}
.portfolio_item-cta{
    display: flex;
    margin-bottom: 0.2rem;
    gap: 3rem;
}
.portfolio_item-cta .btn{
    padding: 0.5rem 1.2rem;
}

/* .contact_card {
    padding: 2rem;
}

.contact_card span,
.contact_card h1 {
    font-size: 1.5rem;
    padding: 0 0.2rem -2rem 0.2rem;
    line-height: 2rem;
    color: var(--color-gray-300);
}

.contact_container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
} */


.sider-container{
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 0 2rem;
}
.sider{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icons{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
.icon{
    font-size: 1rem;
    color: var(--color-gray-300);
    cursor: pointer;
}
.icon:hover{
    color: #f5f5f5;
}
.sider .hr{
    height: 8rem;
    width: 1px;
    background-color: var(--color-gray-200);
}
.footer{
    padding: 1rem 0 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hr{
    height: 1px;
    width: 90%;
    background-color: var(--color-gray-200);
}
.credit{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0;
}
.credit h1{
    font-size: 1.5rem;
    padding: 0 0.2rem -2rem 0.2rem;
    line-height: 2rem;
    color: var(--color-gray-200);
    opacity: 0.7;
}
.credit span{
    color: var(--color-primary);
}

/* """""""""""""""""""""MEDIA QUERIES(TABLET DEVIES)""""""" */
@media screen and (max-width: 1024px) {
    .container{
        width: var(--container-width-lg);
    }

    section{
        margin-top: 6rem;
    }
}

 /* """""""""""""""""""""MEDIA QUERIES(SMALL DEVIES)""""""" */
@media screen and (max-width: 600px) {
    .container{
        width: var(--container-width-md);
    }

    section{
        margin-top: 6rem;
    }
}